<div class="container">
  <img id="imagen" src="/images/logosol01.svg">
  <div className="row">
    <div className="col-12 col-sm-6 offset-sm-3 py-3">
  <form method="POST">
  <div class="form-group" align="center">
    <label for="exampleFormControlInput1">Por favor, ayúdanos a mejorar tu experiencia llenando la siguiente encuesta de satisfacción:</label>
      </div>
  <div class="form-group">
    <label for="respuesta1">El tiempo del proceso de tu crédito con SOLVENTO fue:</label>
    <select class="form-control" id="respuesta1" name="respuesta1">
      <option>Rápido</option>
      <option>Moderado</option>
      <option>Lento</option>
    </select>
  </div>
  <div class="form-group">
    <label for="respuesta2">¿Consideras que el trámite de tu crédito fue sencillo?</label>
    <select class="form-control" id="respuesta2" name="respuesta2">
      <option>Sí</option>
      <option>No</option>
    </select>
  </div>
  <div class="form-group">
    <label for="respuesta3_justi">¿Porqué?</label>
    <textarea class="form-control" id="respuesta3_justi" rows="3" name="respuesta3_justi"></textarea>
  </div>
  <div class="form-group">
    <label for="respuesta4">¿Recomendarías a SOLVENTO con un compañero de trabajo?</label>
    <select class="form-control" id="respuesta4" name="respuesta4">
      <option>Sí</option>
      <option>No</option>
    </select>
  </div>
 
  <button id="boton" type="submit" class="btn btn-outline-success">Enviar</button>
   
</form>
</div>
</div>
</div>



